.alert {
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  z-index: 9999;
  width: auto;
  max-width: 430px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 1;
  animation: fadeInOut 5s ease-in-out forwards;
}

.alert-success {
  background-color: #4CAF50;
  color: white;
  border-left: 5px solid #388E3C;
}

.alert-danger {
  background-color: #f44336;
  color: white;
  border-left: 5px solid #d32f2f;
}

@keyframes fadeInOut {

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}